.post {
    direction: ltr;
    margin-bottom: 10px;
}

.upper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.vote-buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30px;
    margin-bottom: 20px;
    margin-right: 5px;
}

.media {
    height: 100%;
}

.screen-width-label {
    font-size: 13px;
}

.upvote {
    margin-bottom: -6px;
}

.vote-count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lower {
    margin-left: 35px;
}

.lower div {
    display: flex;
    flex-direction: row;
}

.approval div {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.see-on-map {
    height: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -1;
}

.media-parent {
    display: grid;
    grid-template-columns: 1fr;
}

.media-parent div {
    grid-row-start: 1;
    grid-column-start: 1;
}
